body{
    margin: 0px;
    padding: 0px;
}
.inp{
    width: 30%;
    height: 50px;
    
}
.block{
    height: 40%;
    width: 100%;
    background-color: rgb(241, 239, 239);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:100px;
}
.block2{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(32, 32, 32);
    gap: 80px;
    height: 50px;
    align-items: center;
    color: white;
}
.BOX3{
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50PX;
    margin: 0px;
    padding: 0px;
  
    background-color: orange;
}
.im{
    float: right;
    
    width: 300px;
    margin-right:60px ;
    padding-top: 10px;
    

}
.box4{
    margin-top: 0px;
    padding-top: 60px;
    justify-content: center;

    text-align: center;
    align-items: center;
    height: 400px;
    background-color: rgb(176, 199, 199);
}
p{
    margin: 0px;
    padding: 0px;
}

.div1{
    height: 180px;
    width: 450px;

    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    
    
    background-image: url(freestocks-_3Q3tsJ01nc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.div2{
    height: 180px;
    width: 450px;

    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    
    
    background-image: url(DOG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.div3{
    height: 180px;
    width: 450px;

    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    
    
    background-image: url(high-angle-clothes-bed-fast-fashion-concept.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.ALL{
    display: flex;
    gap: 30PX;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
.HE{
    text-align: center;
    font-weight: lighter;
    padding-top: 50px;
    padding-bottom: 40px;
}
.pic{
    height: 300px;
    width: 200px;
}
.con1{
    height: 300px;
    width: 200px;
}
.two{
    display: flex;
    gap:120px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}